@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home.css" />


    <script src="~/Scripts/site.js"></script>
</head>
<body>
    <header id="default-header">
        <div id="header-left-div">
            <span class="logo-text">MOJA KNJIŽNICA&trade;</span>
        </div>
        <div id="header-right-div">
            <span class="username">Janez Novak</span>
            <img class="user-icon" src="~/Content/Images/user_icon.svg" />
        </div>
    </header>

    @*MENU*@
    <label for="show-menu" id="show-menu-label">Show Menu</label>
    <input type="checkbox" id="show-menu" role="button">

    <nav id="navigation-menu">
        <ul>
            <li>
                <a href='@Url.Action("Home")'>Domov</a>
            </li>
            <li class="active-menu-element">
                <a href='@Url.Action("Search")'>Iskanje izdelkov</a>
            </li>
            <li>
                <a href='@Url.Action("Statistics")'>Statistika</a>
            </li>
            <li>
                <a href="@Url.Action("Recommend")">Predlagaj nakup</a>
            </li>
        </ul>
    </nav>

    

    <section>
        <div id="rent-history-for-user" class="text-align-center">
            <span class="title">Trenutno izposojene knjige</span>
            <br />
            <div id="table-container"> <!--(najprej za sredino), zdaj za responsive oz overflow-x-->
                <table>
                    <tr>
                        <th>Knjiga</th>
                        <th>Datum izposoje</th>
                        <th>Datum vrnitve</th>
                        <th>Možnost podaljšanja</th>
                    </tr>
                    <tr>
                        <td><a href='@Url.Action("ItemDetails")'>Da Vincijeva šifra</a></td>
                        <td>10.10.2016</td>
                        <td>4.11.2016</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href='@Url.Action("ItemDetails")'>Z idejo do bogastva</a></td>
                        <td>23.9.2016</td>
                        <td>9.10.2016</td>
                        <td><input type="button" value="Podaljšaj" /></td>
                    </tr>
                    <tr>
                        <td><a href='@Url.Action("ItemDetails")'>Programming the World Wide Web</a></td>
                        <td>2.9.2016</td>
                        <td>20.9.2016</td>
                        <td><input type="button" value="Podaljšaj"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    @*copy-----------------------------------*@

    <section id="new-in-section">
        <hr class="inline-with-text" />
        <span id="new-block-title" class="title">NOVO V NAŠI KNJIŽNICI</span>
        <hr class="inline-with-text" />
    </section>
    @* uporabi span za formatiranje besed v stavkih *@


    <section class="animateblock centerright">
        <div class="colored">
            <figure>
                <img class="new-item-image" src="~/Content/Images/da-vincijeva-sifra.jpg" />
                <figcaption class="new-item-description">
                    DaVincijeva šifra
                    <br />
                    Dan Brown
                    <br />
                    <a href='@Url.Action("ItemDetails")'>več</a>
                </figcaption>

            </figure>
        </div>
    </section>


    <section class="animateblock centerright">
        <div class="colored">
            <figure>
                <img class="new-item-image" src="~/Content/Images/z_idejo_do_bogastva.jpg" />
                <figcaption class="new-item-description">
                    Z idejo do bogastva
                    <br />
                    Napoleon Hill
                    <br />
                    <a href='@Url.Action("ItemDetails")'>več</a>

                </figcaption>
            </figure>
        </div>
    </section>

    <section class="animateblock centerright">
        <div class="colored">
            <figure>
                <img class="new-item-image" src="~/Content/Images/WWW.jpg" />
                <figcaption class="new-item-description">
                    Programming the World Wide Web
                    <br />
                    Robert W. Sebesta
                    <br />
                    8. izdaja
                    <br />
                    <a href='@Url.Action("ItemDetails")'>več</a>
                </figcaption>
            </figure>
        </div>
    </section>


    <footer class="text-align-center">
        <div>
            <div>
                <span id="about-link">
                    <a href='@Url.Action("About")'>O nas</a>
                </span>
            </div>
            <div id="footer-middle-div">
                <span id="fcopy">&copy; Matic Bizjak</span>
            </div>
            <div>
                <a id="fb-link" href="http://www.facebook.com/Moja-Knjižnica-242222909528420">
                    <img src="~/Content/Images/FBicon.gif" />
                </a>
            </div>
        </div>
    </footer>

</body>
</html>
