<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knjižnica</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Index.css" />
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/index.js"></script>

</head>
<body>
    <!-- fixed header, invisible at first-->
    <div class="fixed-index-header">
        <div class="header-left-div">
            <span class="logo-text">MOJA KNJIŽNICA&trade;</span>
        </div>
        <div class="header-right-div">
            <span>
                <a class="linkToButton-default" href='@Url.Action("Login")'>VPIS</a>
            </span>
        </div>
    </div>
    <div class="divWithBackgroundImage">
        <header id="index-page-header">
            <div class="header-left-div">
                <span class="logo-text">MOJA KNJIŽNICA&trade;</span>
            </div>
            <div class="header-right-div">
                <span>
                    <a class="linkToButton-default" href='@Url.Action("Login")'>VPIS</a>
                </span>
            </div>
        </header>

        <div class="text-align-center">
            <span>
                <span class="logo-text">MOJA KNJIŽNICA&trade;</span> je aplikacija, ki uporabnikom omogoča <span class="emphasize">rezervacijo</span> in <span class="emphasize">izposojo</span> izdelkov v naši knjižnici.
            </span>
        </div>

        <div class="text-align-center">
            <span>Prvič pri nas? Registrirajte se in začnite z uporabno že danes!</span>
            <br />
            <br />
            <a href='@Url.Action("Registration")' class="linkToButton-default">
                <span>REGISTRACIJA</span>
            </a>
        </div>

        <div class="text-align-center">
            @*search*@
            <span>Ali pa samo pobrskajte po naših izdelkih</span>
            <br />
            <br />
            <a class="linkToButton-default" href='@Url.Action("Search")'>Brskaj</a>
        </div>
    </div>

    <section>
        <div id="new-in-section">
            <hr class="inline-with-text" />
            <h3 id="new-block-title" class="title">NOVO V NAŠI KNJIŽNICI</h3>
            <hr class="inline-with-text" />
        </div>

        <div class="animateblock centerright">
            <div class="colored">
                <figure>
                    <img class="new-item-image" src="../Content/Images/da-vincijeva-sifra.jpg" alt="DaVincijeva šifra" />
                    <figcaption class="new-item-description">
                        DaVincijeva šifra
                        <br />
                        Dan Brown
                        <br />
                        <a href='@Url.Action("ItemDetails")'>več</a>
                    </figcaption>

                </figure>
            </div>
        </div>


        <div class="animateblock centerright">
            <div class="colored">
                <figure>
                    <img class="new-item-image" src="../Content/Images/z_idejo_do_bogastva.jpg" alt="Z idejo do bogastva" />
                    <figcaption class="new-item-description">
                        Z idejo do bogastva
                        <br />
                        Napoleon Hill
                        <br />
                        <a href='@Url.Action("ItemDetails")'>več</a>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="animateblock centerright">
            <div class="colored">
                <figure>
                    <img class="new-item-image" src="../Content/Images/WWW.jpg" alt="Programming the World Wide Web" />
                    <figcaption class="new-item-description">
                        Programming the World Wide Web
                        <br />
                        Robert W. Sebesta
                        <br />
                        8. izdaja
                        <br />
                        <a href='@Url.Action("ItemDetails")'>več</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>

    <footer class="text-align-center">
        <div>
            <div>
                <span id="about-link">
                    <a href='@Url.Action("About")'>O nas</a>
                </span>
            </div>
            <div id="footer-middle-div">
                <span id="fcopy">&copy; Matic Bizjak</span>
            </div>
            <div>
                <a id="fb-link" href="http://www.facebook.com/Moja-Knjižnica-242222909528420">
                    <img src="~/Content/Images/FBicon.gif" alt="Facebook ikona"/>
                </a>
            </div>
        </div>
    </footer>

</body>
</html>