
@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ItemDetails</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ItemDetails.css" />

    <script src="~/Scripts/site.js"></script>
    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>

    <script src="~/Scripts/ItemDetails.js"></script>

</head>
<body>
    <header id="default-header">
        <div class="header-left-div">
            <span class="logo-text">MOJA KNJIŽNICA&trade;</span>
        </div>
        <div class="header-right-div">
            <span class="username">Janez Novak</span>
            <img class="user-icon" src="~/Content/Images/user_icon.svg" alt="Uporabniška ikona"/>
        </div>
    </header>

    @*MENU*@
    <label for="show-menu" id="show-menu-label">Show Menu</label>
    <input type="checkbox" id="show-menu" value="button">

    <nav id="navigation-menu">
        <ul>
            <li>
                <a href='@Url.Action("Home")'>Domov</a>
            </li>
            <li class="active-menu-element">
                <a href='@Url.Action("Search")'>Iskanje izdelkov</a>
            </li>
            <li>
                <a href='@Url.Action("Statistics")'>Statistika</a>
            </li>
            <li>
                <a href='@Url.Action("Recommend")'>Predlagaj nakup</a>
            </li>
        </ul>
    </nav>

    <section id="item-details-container">
        <div id="title-info" class="text-align-center centered">
            <span>DaVincijeva šifra (referenčna številka)</span>
            <input type="button" value="Izposodi"/>
        </div>

        <div id="main-and-image-info-container"> <!--make two divs and fieldsets inside have same height-->
            

            <div id="image-info">
                <img alt="Davincijeva šifra" src="~/Content/Images/da-vincijeva-sifra.jpg" />
            </div>

            <div id="main-info">
                <span>Avtor: Dan Brown</span><br />
                <span>Leto izdaje: 2003</span><br />
                <span>Status: prosto</span>
            </div>
        </div>
    </section>

    <section>
        <div @*id="rent-history"*@ class="text-align-center">
            <h3 class="title">Zgodovina izposoj</h3>
            <div id="table-container">  <!--da lahko spravim tabelo na sredino, drugače gre span zraven pa ni vredu-->

                <table>
                    <tr>
                        <th>Datum izposoje</th>
                        <th>Datum vrnitve</th>
                    </tr>
                    <tr>
                        <td>10.10.2016</td>
                        <td>4.11.2016</td>
                    </tr>
                    <tr>
                        <td>23.9.2016</td>
                        <td>9.10.2016</td>
                    </tr>
                    <tr>
                        <td>2.9.2016</td>
                        <td>20.9.2016</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>


    <section>
        <div class="text-align-center">
            <h3 class="title">Število izposoj na mesec</h3>
            <div id="chartdiv"></div> <!--more met višino in širino !-->
        </div>
    </section>


    <section>
        <div id="useful-links" class="text-align-center">
            <h3 class="title">Uporabne povezave</h3>
            <ul>
                <li>
                    <a href="https://sl.wikipedia.org/wiki/Da_Vincijeva_%C5%A1ifra_(roman)">O knjigi</a>
                </li>
                <li>
                    <a href="https://sl.wikipedia.org/wiki/Dan_Brown">O avtorju</a>
                </li>
                @*<li>
                    <a href="http://cobiss.izum.si/scripts/cobiss?command=DISPLAY&base=COBIB&RID=14235959">Cobiss</a>
                </li>*@
            </ul>
        </div>
    </section>

    <footer class="text-align-center">
        <div>
            <div>
                <span id="about-link">
                    <a href='@Url.Action("About")'>O nas</a>
                </span>
            </div>
            <div id="footer-middle-div">
                <span id="fcopy">&copy; Matic Bizjak</span>
            </div>
            <div>
                <a id="fb-link" href="http://www.facebook.com/Moja-Knjižnica-242222909528420">
                    <img src="~/Content/Images/FBicon.gif" alt="Facebook ikona"/>
                </a>
            </div>
        </div>
    </footer>

</body>
</html>
