@model SPApp.Models.Registration.RegistrationViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Registration.css" />


    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/registration.js"></script>

</head>
<body>
    <header id="default-header">
        <div class="header-left-div">
            <span class="logo-text">MOJA KNJIŽNICA&trade;</span>
        </div>
        <div class="header-right-div">
            <a class="linkToButton-default" href='@Url.Action("Login")'>VPIS</a>
        </div>
    </header>

    <div id="registration-container-section">
        @if (!String.IsNullOrEmpty(Model.ErrorMsg))
        {
            <div id="error-message">
                @Html.DisplayFor(model => model.ErrorMsg)
            </div>
        }

        <div>
            <form id="registration-form" method="post" action="@Url.Action("RegisterUser", "Home")">
                <div>Podatki za registracijo</div> <!--div zato da ma lahko margin spodi-->
                @Html.TextBoxFor(model => model.FirstName, new { type = "text", placeholder = "Ime", oninvalid = "this.setCustomValidity('Polje ne sme biti prazno.')", oninput = "setCustomValidity('')", required="required" })
                @*<input type="text" placeholder="Ime" value="@Model.FirstName" required oninvalid="this.setCustomValidity('Polje ne sme biti prazno.')" oninput="setCustomValidity('')"/>*@
                <br />
                @Html.TextBoxFor(model => model.LastName, new { type = "text", placeholder = "Priimek", oninvalid = "this.setCustomValidity('Polje ne sme biti prazno.')", oninput = "setCustomValidity('')", required = "required" })
@*                <input type="text" placeholder="Priimek" value="@Model.LastName" required oninvalid="this.setCustomValidity('Polje ne sme biti prazno.')" oninput="setCustomValidity('')"/>*@
                <br />
                @Html.TextBoxFor(model => model.Email, new { type = "email", placeholder = "Elektronski naslov", oninvalid = "this.setCustomValidity('Polje ne sme biti prazno.')", oninput = "setCustomValidity('')", required = "required" })
                @*<input type="email" placeholder="Elektronski naslov" value="@Model.Email" required oninvalid="this.setCustomValidity('Vnesite elektronski naslov.')" oninput="setCustomValidity('')"/>*@
                <br />
                @Html.TextBoxFor(model => model.Username, new { type = "text", placeholder = "Uporabniško ime", oninvalid = "this.setCustomValidity('Polje ne sme biti prazno.')", oninput = "setCustomValidity('')", required = "required" })
                <br />
                @Html.TextBoxFor(model => model.Password, new { id = "password", type = "password", placeholder = "Geslo", oninvalid = "this.setCustomValidity('Polje ne sme biti prazno.')", oninput = "setCustomValidity('')", required = "required" })
                @*<input id="password" type="password" placeholder="Geslo" value="@Model.Password" required oninvalid="this.setCustomValidity('Polje ne sme biti prazno.')" oninput="setCustomValidity('')"/>*@
                <br />
                @*@Html.TextBoxFor(model => model.?, new { id = "confirm-password", type = "password", placeholder = "Ponovite geslo", oninvalid = "this.setCustomValidity('Polje ne sme biti prazno.')", oninput = "setCustomValidity('')", required = "required" })*@
                <input id="confirm-password" type="password" placeholder="Ponovite geslo" required oninput="validatePassword()"/>
                <br />

                <button class="linkToButton-default" type="submit">Registriraj me!</button>

            </form>
        </div>

        <br />
        <a href='@Url.Action("Index")'>Domov</a>
    </div>
</body>
</html>
