
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Search.css" />

    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/search.js"></script>

</head>
<body>
    <header id="default-header">
        <div id="header-left-div">
            <span class="logo-text">MOJA KNJIŽNICA&trade;</span>
        </div>
        <div id="header-right-div">
            <span class="username">Janez Novak</span>
            <img class="user-icon" src="~/Content/Images/user_icon.svg" />
        </div>
    </header>

    @*MENU*@
    <label for="show-menu" id="show-menu-label">Show Menu</label>
    <input type="checkbox" id="show-menu" role="button">

    <nav id="navigation-menu">
        <ul>
            <li>
                <a href='@Url.Action("Home")'>Domov</a>
            </li>
            <li class="active-menu-element">
                <a href='@Url.Action("Search")'>Iskanje izdelkov</a>
            </li>
            <li>
                <a href='@Url.Action("Statistics")'>Statistika</a>
            </li>
            <li>
                <a href='@Url.Action("Recommend")'>Predlagaj nakup</a>
            </li>
        </ul>
    </nav>

    <section id="content"> <!--search input in izbira kategorije-->
        <div id="category-and-search-input-container">
            <div>
                <span class="title">Pobrskajte po izdelkih</span>
            </div>
            <form>
                <select>
                    <option disabled selected value="disabled"> -- izberite kategorijo -- </option>
                    <option value="books">Knjige</option>
                    <option value="lps">LP plošče</option>
                    <option value="cds">CDji</option>
                    <option value="films">Filmi</option>

                </select>

                <input id="search-filter" type="text" placeholder="Vpišite iskalni niz" />
                <!--onclick return false prepreči submitanje, če imam button type submit znotraj forme-->
                <!--js bom itak mel ajax in ne celega refreshanja tko da se bo tole še spremenilo-->
                <button type="submit" onclick="submit_search(); return false;">Išči</button>
            </form>
        </div>
        <div id="result-container" style="visibility: hidden;">
            <div id="table-container">
                <!--(najprej za sredino), zdaj za responsive oz overflow-x-->
                <table>
                    <tr>
                        <th>Naziv</th>
                        <th>Čas izposoje</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td><a href='@Url.Action("ItemDetails")'>LINK do knjige</a></td>
                        <td>25 dni</td>
                        <td>Izposojeno</td>
                    </tr>
                    <tr>
                        <td><a href='@Url.Action("ItemDetails")'>LINK do knjige</a></td>
                        <td>25 dni</td>
                        <td>Izposojeno</td>
                    </tr>
                    <tr>
                        <td><a href='@Url.Action("ItemDetails")'>LINK do knjige</a></td>
                        <td>25 dni</td>
                        <td>Prosto</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>
</html>
